<article>   
  {{! post heading }}
  <header class="post-header">
    {{#is 'post'}}
      <a href="{{@blog.url}}/" data-animsition-out-class="fade-out-down-sm" data-animsition-out-duration="400">
        <img class="logo" src="{{@blog.logo}}" alt="Eltrip Logo"/>
      </a>
    {{/is}}
    {{#is 'index'}}
      <div class="recent-post-notifaction"><p><em>Most recent entry</em></p></div>
    {{/is}}
    <h2 class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>
    <p class="subtitle">by <a href="{{@blog.url}}/authors"><span class="author">{{author.name}}</span></a> on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM, DD YYYY"}}</time></p>
  </header>

  {{! post content }}
  <main class="markdown-formatting clearfix">
    {{#is "index"}}
      <div class="excerpt">
        <b>Excerpt: </b>{{excerpt words="250"}}
        <a href="{{url}}">&hellip; <span class="read-more">(read more)</span></a>
        <div class="list-stories-link">
          <a href="{{@blog.url}}/log-book"><p>See all stories</p></a>
        </div>
      </div>
    {{else}}
      {{content}}
    {{/is}}
  </main>
</article>
