<header id="site-header">
  <a href="{{@blog.url}}/">
    <img class="logo" src="{{@blog.logo}}" alt="Eltrip Logo"/>
    <h1 class="title">
      <a href="/">{{@blog.title}}</a>
    </h1>
  </a>
  <h2 class="description">{{@blog.description}}</h2>
  <div class="navigation">{{navigation}}</div>
</header>